:root {
  --main-background-color: #ffffff;
  --sec-background-color: #f5f4fa;
  --dark-background-color: #2f303a;

  --accent-color: #2196f3;
  --text-color: #212121;
  --text-hero: #ffffff;
  --sec-text-color: #757575;
  --footer-addres: ;
}

body {
  background-color: var(--main-background-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

/* Header */
header {
  background-color: var(--main-background-color);
}

.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo-blue {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: left;
}
.logo {
  color: var(--text-color);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.03em;
  text-align: left;
}

.nav-link {
  color: var(--text-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
}

.nav-link:focus,
.nav-link:hover {
  color: var(--accent-color);
}

p,
.add-link {
  color: var(--sec-text-color);
}

.add-link:focus,
.add-link:hover {
  color: var(--accent-color);
}

/* ГЕРОЙ */
.hero {
  background-color: var(--dark-background-color);
  width: 1600px;
  height: 600px;
  text-align: center;
}

/* Hero Buttons */
.hero-button {
  display: inline-block;
  padding: 10px 32px;

  min-width: 200px;
  height: 50px;

  border-style: none;
  outline: none;

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  color: var(--text-hero);

  background-color: var(--accent-color);

  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  line-height: 1px;
}

.hero-text {
  color: var(--text-hero);
  font-family: Roboto;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
}

/* преимущества */
.best {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
}

.best-text {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}
/* чем занимаемся */
.wwd {
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
}

/* наша команда */
.team {
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
}

.name {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
}
.profession {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
}

/* футер */
footer {
  background-color: var(--dark-background-color);
}

.addres {
  color: var(--text-hero);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}
.mail {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}
.number {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}

.logo-foot {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: left;
}
.logo-white {
  color: var(--text-hero);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.03em;
  text-align: left;
}

/* Портфолио */

.name-project {
  color: var(--text-color);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
}

.about-project {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;
}
